body {
    height: 100%;
    /* overflow: scroll; */
    /* Background stuff */
    background-image: url('../images/background.png');
    background-size: 13%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; /* Start tiling from the center */
    /* cursor: url('path/to/your/cursor-image.png'), auto */
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

/* Introduction */
.introduction {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    height: 300;
    width: 1080px;
    box-sizing: border-box;
    padding: 110px 50px 20px 20px;
}

.my-face {
    /* background-color: blue; */
    width: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Right Content Styling */
.right-content {
    width: 60%;
    box-sizing: border-box;
}
.right-content p {
    padding: 10px 5px;
    font-size: 24px;
    word-spacing: 2px;
}

.right-content .right-image {
    width: 606px; /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ABOUT ME STORY AND MY EXPERIENCES */
.section-header {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    font-size: 120px;
    text-align: center;
    margin: 1rem 0;
  }

  .smaller-header {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    font-size: 90px;
    text-align: center;
    margin: 1rem 0;
  }

  .about-item {
    width: 800px;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
  }

#games-meaning {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games-meaning-item {
    width: 870px;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-text, .games-text {
    flex: 1;
    padding: 0 1rem;
    font-size: 24px;
  }

  .games-text {
    margin-bottom: 10px;
  }

  .games-text-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }


  .about-img, .games-img {
    width: 150px;
    height: auto;
    /* border-radius: 8px; */
  }

#flipped {
    transform: scaleX(-1);
  }

  .left-img {
    margin-right: 1rem;
  }

  .right-img {
    margin-left: 1rem;
  }


/* EXPERIENCE COMPONENETS STYLES */
.project-card-section {
    margin-bottom: 20px;
    width: 870px;
  }

  .card {
    /* background-color: #fff;
    padding: 20px; */
    display: flex;
    flex-direction: column;
  }

  .card-header {
    /* position: relative; */
    height: 140px;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/experiences-work-file-images/heading-image.png");
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-left-images {
    padding-top: 25px;
    padding-left: 30px;
  }
  
  .header-image-1 {
    margin-right: 10px;
  }
  .header-image-2 {
    padding-left: 15px;
    border-left: 2px solid #cccccc;
  }
  
  .header-right-text {
    /* position: absolute; */
    /* bottom: 55px;
    right: 30px; */
    padding-top: 40px;
    text-align: right;
    padding-right: 30px;
  }
  
.card-content {
    background-color: #fff;
    padding: 0px 30px;
}

  .role-title {
    font-size: 24px;
    color: #b0b0b0;
    opacity: 70%;
  }
  
  .role-time {
    font-size: 1em;
    color: #4a4a4a;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .section-title img {
    width: 60px;
    height: 60px;
  }

  .section-title h2 {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #2D2D2D;
    font-size: 55px;
  }

  .overview-icon,
  .contributions-icon,
  .industry-icon {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .card-text {
    font-size: 20px;
    color: #2D2D2D;
    margin-bottom: 10px;
  }

  .overview-citation {
    font-size: 10px;
    color: #b0b0b0;
    opacity: 50%;
    margin-bottom: 10px;
  }
  .contributions-section .contributions-blocks {
    margin-top: 20px;
  }

  .cb-label {
    display: flex;
    align-items: center;
    height: 25px;
    white-space: nowrap;
    margin: 5px;
}

.cb-image {
    height: 25px;
    width: auto;
}
.cb-image.right {
    transform: scaleX(-1);
}

.label-content {
    height: 100%;
    display: flex;
    align-items: center;
}
.label-content.tech {
  background-color: #2d74b5;
}
.label-content.inter {
  background-color: #e46517;
}
.label-content.tool {
  background-color: #BB9ECC;
}

.label-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust spacing as needed */
}

.label-text {
    font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
    font-size: 20px; /* Adjust as needed */
    line-height: 20px; /* Align with icon height */
}

  /* .what-i-did-section,
  .my-impacts-section,*/
  .industry-prep-section {
    margin-top: 20px;
  }
  
  .contribution-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
  
  .cb-inner-content {
    padding: 20px;
    background-color: #FBF7F4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
  }
  .wdid-title {
    margin-top: 10px;
    width: 100%;
    float: left;
    font-size: 35px;
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #638F87;
    margin-bottom: 5px;
    margin-bottom: 5px;
  }

  .cb-label-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .mi-title {
    width: 100%;
    float: left;
    font-size: 35px;
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #DE3838;
    margin-bottom: 5px;
    margin-bottom: 5px;
  }

  .industry-prep-text {
    margin-top: 10px;
  }





/* SKILLS SECTION */

#skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills-section-content {
  /* background-color: #ca2053; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-indiv-section {
  /* background-color: orange; */
  width: 100%;
}

#skills-heading-container {
  /* background-color: greenyellow; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills-heading {
  font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
  font-size: 60px;
  width: 80%;
  text-align: left;
  margin: 10px 0px;
}

.tools-heading {
  color: #BB9ECC;
}

.technical-heading {
  color: #2d74b5;
}

.interpersonal-heading {
  color: #e46517;
}

#skills-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 10%;
}

.tools-skill-card {
    width: 195px;
    /*background-color: white;
    border-radius: 10px;
    *//*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    */margin: 10px;
    /*padding: 15px;
    */text-align: center;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}

.tools-skill-card:hover {
    transform: translateY(-5px);
}

.tools-skill-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.tools-skill-card h3 {
  font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #BB9ECC;
}

.tools-skill-card p {
    font-size: 0.9em;
    color: #fff;
}

.tech-skill-card {
  width: 195px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.tech-skill-card:hover {
  transform: translateY(-5px);
}

.tech-skill-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.tech-skill-card h3 {
  font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  color: #2d74b5;
}

.tech-skill-card p {
  font-size: 0.9em;
  color: #fff;
}

.inter-skill-card {
  width: 195px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.inter-skill-card:hover {
  transform: translateY(-5px);
}
.inter-skill-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.inter-skill-card h3 {
  font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  color: #e46517;
}

.inter-skill-card p {
  font-size: 0.9em;
  color: #fff;
}