body {
    height: 100%;
    /* overflow: scroll; */
    /* Background stuff */
    background-image: url('../images/background.png'); 
    background-size: 13%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; /* Start tiling from the center */
    /* cursor: url('path/to/your/cursor-image.png'), auto */
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

/* Introduction */
.introduction {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    height: 300;
    width: 1080px;
    box-sizing: border-box;
    padding: 110px 50px 20px 20px;
}

.my-face {
    /* background-color: blue; */
    width: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Right Content Styling */
.right-content {
    width: 60%;
    box-sizing: border-box;
}
.right-content p {
    padding: 10px 5px;
    font-size: 24px;
    word-spacing: 2px;
    text-shadow:  0 2px 8px rgba(0, 0, 0, 1);

}

.right-content .right-image {
    width: 606px; /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ABOUT ME STORY AND MY EXPERIENCES */
.section-header {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    font-size: 120px;
    text-align: center;
    margin: 1rem 0;
  }

  .smaller-header {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    font-size: 90px;
    text-align: center;
    margin: 1rem 0;
  }

.about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.about-text-container {
    width: 600px;
}
  .about-text, .ff-text {
    flex: 1;
    padding: 0 1rem;
    font-size: 24px;
    text-shadow:  0 2px 8px rgba(0, 0, 0, 1);
    text-wrap: wrap;
  }

  .about-img {
    width: 150px;
    height: auto;
    /* border-radius: 8px; */
  }

#flipped {
    transform: scaleX(-1);
  }

  .left-img {
    margin-right: 1rem;
  }

  .right-img {
    margin-left: 1rem;
  }






/* SKILLS SECTION */

#skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills-section-content {
  /* background-color: #ca2053; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-indiv-section {
  /* background-color: orange; */
  width: 100%;
}

#skills-heading-container {
  /* background-color: greenyellow; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills-heading {
  font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
  font-size: 60px;
  width: 80%;
  text-align: left;
  margin: 10px 0px;
  text-shadow:  0 2px 8px rgba(0, 0, 0, 0.1);

}

.tools-heading {
  color: #BB9ECC;
}

.technical-heading {
  color: #4286c6;
}

.interpersonal-heading {
  color: #e46517;
}

#skills-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 10%;
}


.tools-skill-card h3, .tech-skill-card h3, .inter-skill-card h3 {
  font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow:  0 2px 8px rgba(0, 0, 0, 0.2);
}

.tools-skill-card p, .tech-skill-card p, .inter-skill-card p {
  font-size: 0.9em;
  color: #fff;
  text-shadow:  0 2px 8px rgba(0, 0, 0, 1);
}


.tools-skill-card {
    width: 195px;
    /*background-color: white;
    border-radius: 10px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    */margin: 10px;
    /*padding: 15px;
    */text-align: center;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}

.tools-skill-card:hover {
    transform: translateY(-5px);
}

.tools-skill-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.tools-skill-card h3 {
    color: #BB9ECC;
}

.tech-skill-card {
  width: 195px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.tech-skill-card:hover {
  transform: translateY(-5px);
}

.tech-skill-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.tech-skill-card h3 {
  color: #4286c6;
}

.inter-skill-card {
  width: 195px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.inter-skill-card:hover {
  transform: translateY(-5px);
}
.inter-skill-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.inter-skill-card h3 {
  color: #e46517;
}

