@media screen and (max-width: 870px) {
    .padding {
        display: none;
    }
    header {
        display: none;
    }
    footer {
        display: none;
    }
    body {
        background-image: none;
        /* background-color: white; */
    }

    .rez-handler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    .rez-handler h1 {
        width: 60%;
        font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
        font-size: 30px;
        padding: 2%;
        color: #d05700;
    }
    .rez-handler p {
        width: 60%;
        font-family: 'DK Leftover Crayon', Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        color: #35312e;
    }
    .rez-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;;
    }
    #small-text {
        text-align:center;
        vertical-align: middle;
        display: table-cell;
        font-size: 0.5rem;
        width: 60%;
        color: #b0b0b0;
    }
}

@media screen and (min-width: 870px) {
    body {
        background-image: url('../images/background.png');
    }
    .padding {
        display: flex;
    }
    header {
        display: block;
    }
    footer {
        display: block;
    }

    .rez-handler {
        display: none;
    }
}