/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1000;
  }

  /* Home Button Styling */
.nav-home img {
    height: 100px;
    width: auto;
    padding: 2%;
}
/* Menu Styling */
.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-item img {
    height: 60px;
    width: auto;
    padding: 7% 1px;
}