@font-face {
    font-family: 'Tina Text Font'; /* Name the font */
    src: url('../fonts/TinaTextFont-Regular.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal; /* You can specify normal, bold, etc. */
    font-style: normal; /* You can specify normal, italic, etc. */
}
@font-face {
    font-family: 'Tina Title Font'; /* Name the font */
    src: url('../fonts/TitleRegular-Regular.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal; /* You can specify normal, bold, etc. */
    font-style: normal; /* You can specify normal, italic, etc. */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tina Text Font', Helvetica, Arial;
    color: white;
    font-size: 1.1rem;
    /* cursor: none; */
    /* scroll-behavior: smooth; */
}

.cursor {
    background-image: url('../images/mouse/default-mouse.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
}

footer {
    /* float:right; */
    /* text-align: center; */
    /* color: #b0b0b0; */
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    text-align: center;
}
footer p {
    color: #b0b0b0;
    letter-spacing: 1px;
    opacity: 0.5;
}
#copyright-year {
    color: #b0b0b0;
    letter-spacing: 1px;
    opacity: 0.5;
}

.padding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100wh;
}

/* SCROLL BAR */

.scroll-title {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #e6dfd6;
    font-size: 20px;
    margin-bottom: 7px;
    text-shadow: 
    -1px -1px 0 #3b2005,  
    1px -1px 0 #3b2005,
    -1px 1px 0 #3b2005,
    1px 1px 0 #3b2005;
}

.scroll-indicator {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    align-items: flex-end;
    height: 350px;
    /* background-image: url("../images/scroll-bg.png"); */
    background-size: contain;
    /* background-color: #e6dfd6; */
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: right;
    justify-content: center;
    padding-right: 5px;

    /* .scroll-indicator {
        height: 350px;
        background-image: url("../images/scroll-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
        display: flex;
        align-items: right;
        justify-content: center;
        padding-right: 5px;
      } */
}

.scroll-indicator a {
    font-size: 16px;
    margin: 2px 0;
    /* padding: 1px; */
    text-decoration: none;
    color: #b0b0b0;
    text-align: right;
    text-shadow: 
    -1px -1px 0 #3b2005,  
    1px -1px 0 #3b2005,
    -1px 1px 0 #3b2005,
    1px 1px 0 #3b2005;
}

.scroll-indicator a.active {
    color: #f9d5b3;
    font-weight: bold;
}

.scroll-indicator a:hover {
    color: #f9d5b3;
    font-weight: bold;
}

#scroll-small-title {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #e6dfd6;
    font-size: 20px;
    margin-bottom: 7px;
    padding: 1px 0px;
    text-shadow: 
    -1px -1px 0 #3b2005,  
    1px -1px 0 #3b2005,
    -1px 1px 0 #3b2005,
    1px 1px 0 #3b2005;
}
#scroll-small-title.active {
    color: #f9d5b3;
}
#scroll-small-title:hover {
    color: #f9d5b3;
}

/* #scroll-sub {
    font-size: 14px;
    margin: 0px 0;
    padding: 0px;
    text-decoration: none;
    color: #b0b0b0;
    text-shadow: 
    -1px -1px 0 #3b2005,  
    1px -1px 0 #3b2005,
    -1px 1px 0 #3b2005,
    1px 1px 0 #3b2005;
}
#scroll-sub.active {
    font-size: 14px;
    margin: 0px 0;
    padding: 0px;
    text-decoration: none;
    color: #f9d5b3;
    text-shadow: 
    -1px -1px 0 #3b2005,  
    1px -1px 0 #3b2005,
    -1px 1px 0 #3b2005,
    1px 1px 0 #3b2005;
}
#scroll-sub:hover {
    font-size: 14px;
    margin: 0px 0;
    padding: 0px;
    text-decoration: none;
    color: #f9d5b3;
    text-shadow: 
    -1px -1px 0 #3b2005,  
    1px -1px 0 #3b2005,
    -1px 1px 0 #3b2005,
    1px 1px 0 #3b2005;
} */



/* EXPERIENCE COMPONENETS STYLES */
.ep-project-card-section {
    margin-bottom: 20px;
    width: 870px;
  }

  .ep-card {
    /* background-color: #fff;
    padding: 20px; */
    display: flex;
    flex-direction: column;
  }

  .ep-card-header {
    /* position: relative; */
    height: 140px;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/experiences-work-file-images/heading-image.png");
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .ep-header-left-images {
    padding-top: 25px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ep-header-inner-container {
    display: flex;
    flex-direction: column;
  }

  .ep-header-left-images h2 {
    margin-top: 10px;
    color: #2D2D2D;
    font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
    font-size: 64px;
  }

  #ehic-small {
    margin-top: 0;
    font-size: 45px;
  }
  #ehic-p-small {
    margin-top: 2px;
    letter-spacing: 5px;
    font-size: 18px
  }

  .ep-fig-proj-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .ep-header-left-images p {
    font-family: 'Tina Text Font', Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: #a3a3a3;
    padding-left: 5px;
  }
  
  .ep-header-image-1 {
    margin-right: 10px;
  }
  .ep-header-image-2 {
    padding-left: 15px;
    border-left: 2px solid #cccccc;
  }
  .ep-header-image-icon {
    margin-right: 10px;
  }
  
  .ep-header-right-text {
    /* position: absolute; */
    /* bottom: 55px;
    right: 30px; */
    padding-top: 40px;
    text-align: right;
    padding-right: 30px;
  }
  
.ep-card-content {
    background-color: #fff;
    padding: 0px 30px;
}

  .ep-role-title {
    font-size: 24px;
    color: #b0b0b0;
    opacity: 70%;
  }
  
  .ep-role-time {
    font-size: 1em;
    color: #4a4a4a;
  }

  .ep-section-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-bottom: 10px; */
    margin-top: 10px;
  }

  .ep-section-title img {
    width: 60px;
    height: 60px;
  }

  .ep-section-title h2 {
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #2D2D2D;
    font-size: 55px;
  }

  .ep-proj-links {
    font-family: 'Tina Text Font', Arial, Helvetica, sans-serif;
    color: #a3a3a3;
    font-size: 20px;
    margin-right: 5px;
  }

  .ep-highlight-icon,
  .ep-overview-icon,
  .ep-contributions-icon,
  .ep-industry-icon {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .ep-card-text {
    font-size: 20px;
    color: #2D2D2D;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .ep-card-text a {
    font-size: 20px;
    color: #2D2D2D;
    margin-top: 10px;
  }

  .ep-overview-citation {
    font-size: 10px;
    color: #b0b0b0;
    opacity: 50%;
    margin-bottom: 10px;
  }
  .ep-contributions-section {
    margin-top: 5px;
    width: 100%;
  }
  
  .ep-contributions-blocks {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 20px;
  }

  .ep-cb-label {
    display: flex;
    align-items: center;
    height: 25px;
    white-space: nowrap;
    margin-bottom: 5px;
    margin-right: 5px;
}

.ep-highlight-section {
  margin-bottom: 20px;
}

.cb-image {
    height: 25px;
    width: auto;
}
.cb-image.right {
    transform: scaleX(-1);
}

.ep-label-content {
    height: 100%;
    display: flex;
    align-items: center;
}
.ep-label-content.tech {
  background-color: #2d74b5;
}
.ep-label-content.inter {
  background-color: #e46517;
}
.ep-label-content.tool {
  background-color: #BB9ECC;
}

.ep-label-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px; /* Adjust spacing as needed */
}

.ep-label-text {
    font-family: 'Tina Title Font', 'Tina Text Font', Arial, Helvetica, sans-serif;
    font-size: 20px; /* Adjust as needed */
    line-height: 20px; /* Align with icon height */
}

  /* .what-i-did-section,
  .my-impacts-section,*/
  /* .industry-prep-section {
    margin-top: 20px;
  } */
  
  .ep-contribution-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*width: 100%;
    */padding: 20px;
    background-color: #FBF7F4;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  .wdid-title {
    margin-top: 10px;
    width: 100%;
    float: left;
    font-size: 35px;
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #638F87;
    margin-bottom: 5px;
    margin-bottom: 5px;
  }

  .ep-cb-label-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .mi-title {
    width: 100%;
    float: left;
    font-size: 35px;
    font-family: 'Tina Title Font', Arial, Helvetica, sans-serif;
    color: #DE3838;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  /* .industry-prep-text {
    margin-top: 10px;
  } */

  .ep-order-by-column {
    display: flex;
    flex-direction: column;
  }

  .ep-order-by-row {
    display: flex;
    flex-direction: row;
  }

  /* .loading-screen {
    cursor: default;
  } */

  #progress-bar {
    margin-top: 20px;
    width: 200px;
    height: 15px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: #a6a6a6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}