@font-face {
    font-family: 'Tina Text Font'; /* Name the font */
    src: url('../fonts/TinaTextFont-Regular.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal; /* You can specify normal, bold, etc. */
    font-style: normal; /* You can specify normal, italic, etc. */
}
@font-face {
    font-family: 'Tina Title Font'; /* Name the font */
    src: url('../fonts/TitleRegular-Regular.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal; /* You can specify normal, bold, etc. */
    font-style: normal; /* You can specify normal, italic, etc. */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tina Text Font', Helvetica, Arial;
    color: white;
    font-size: 1.1rem;
    cursor: none;
}

.cursor {
    background-image: url('../images/mouse/default-mouse.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
}

footer {
    float:right;
    /* text-align: center; */
    /* color: #b0b0b0; */
}
footer p {
    color: #b0b0b0;
    letter-spacing: 1px;
    opacity: 0.5;
}
#copyright-year {
    color: #b0b0b0;
    letter-spacing: 1px;
    opacity: 0.5;
}

.padding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100wh;
}