body {
    height: 100%;
    width: 100%;
    /* overflow: scroll; */
    /* Background stuff */
    background-image: url('../images/background.png');
    background-size: 13%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; /* Start tiling from the center */
    /* cursor: url('path/to/your/cursor-image.png'), auto */
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none; /* WebKit-based browsers */
}


#main-container {
    text-align: center;
    width: 90%;
    min-width: 870px;
    padding-top: 110px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-image {
    width: auto;
    height: 146px;
    float: left;
    margin-bottom: 20px;
}
#main-text {
    float: left;
    font-size: 20px;
    letter-spacing: 7px;
    color: #b0b0b0;
    opacity: 70%;
    margin-bottom: 20px;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-button {
    display: inline-block;
    text-align: center;
    border: none;
    background: none;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: pink; */
}

.nav-button img {
    width: 200px;
    height: 200px;
}

.display-button p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

.content {
    display: none;
    width: 100%;
    margin-top: 20px;
}

.content-item {
    color: #fff;
    display: none;
}

.content-item.active {
    display: block;
}

.content-parent {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}